{% extends '::layout.html.twig' %}

{% block content %}
    <div class="container nl-content">
        <div class="row">
        <div class="col-sm-9">
                <h3 class="text-capitalize">{{ 'nilead.forgot_password'|trans }}</h3>
            <hr>
            {% block fos_user_content %}

                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="flash-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                <form class="form-horizontal nl-form" role="form" method="POST" action="{{ path('nilead.account.frontend.account.resetting.send_email') }}">

                    {% if invalid_email is defined %}
                            <h2 class="text-capitalize">{{ 'nilead.invalid_email ' |trans({'%email%': invalid_email }) }}</h2>
                    {% endif %}

                    <div class="form-group">
                            <label for="email" class="col-sm-3 control-label text-capitalize">{{ 'nilead.email' | trans }}</label>
                        <div class="col-sm-6">
                            <input type="email" id="email" name="email" class="form-control" placeholder="{{ 'nilead.email' | trans }}">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-6">
                                <button type="submit" class="btn btn-primary text-capitalize">{{ 'nilead.submit' | trans }}</button>
                        </div>
                    </div>

                </form>
            {% endblock fos_user_content %}
            </div>
        </div>
    </div><!-- .nl-content -->
{% endblock %}
