{#{% block body_text %}#}
    {#{% autoescape false %}#}
    {#{{ 'registration.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}#}
    {#{% endautoescape %}#}
{#{% endblock %}#}
{% block subject %}
    {% autoescape false %}
    {{ 'nilead.registration_email_subject' | trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
    {% endautoescape %}
{% endblock %}
{% block body_html %}
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset=utf-8"/>
        <title>Govantai Confirmation</title>
    </head>
    <body>
    <div align="center">
        <div style="display:block;font-family:'Arial';max-width:760px; width:760px">

            <table style="width:100%" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>

                    <td bgcolor="#2EA8DF" style="padding-left: 30px">
                        <div style="background-color:#2EA8DF;color:#ffffff;font-family:'Arial';font-size: 20px; padding-top:23px; padding-bottom: 23px; padding-left: 20px; padding-right: 20px">Xac nhan dang ky thanh vien tai Govantai</div>
                    </td>
                    <td bgcolor="#2EA8DF" style="padding-right: 50px" align="right">
                        <a target="_blank" href="#">
                            <img src="logo.png" style="border:0; width: 70px; display:block" >
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>


            <div style="background-color:#f5f5f5;padding-top:15px; padding-bottom: 15px; padding-left: 50px; padding-right: 50px">
                <div style="max-width:660px; width: 660px">
                    <table style="width:100%;" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
                        <tbody>
                        <tr>
                            <td>
                                <div style="border:solid 1px #dddddd;padding-top:11px;padding-bottom:11px;background-color:#fffffff;padding-left: 40px;padding-right: 20px">
                                    <p>Dear {{ user.username }},</p>
                                    <p></p>
                                    <p>An account has been created for you at the govantai.</p>
                                    <p></p>
                                    <p>Please visit this url to activate your account. </p>
                                    <p></p>
                                    {% if currentPassword is defined %}
                                        <p>Your Password is:</p>
                                        <p> <pre>{{ currentPassword }}</pre></p>
                                    {% endif %}
                                    <p><a href="{{ confirmationUrl }}" style="text-decoration: none;color: black">Link to active</a> </p>
                                    <p></p>
                                    <p>You can copy link below and past to your browser address. </p>
                                    <p></p>
                                    <p><pre>{{ confirmationUrl }}</pre></p>
                                    <p></p>
                                    <p>If the account was created in error, you can visit the link above to contact govanvai or you can call our support center</p>
                                    <p></p>
                                    <p><a style="color:black" href="mailto:support@govantai.com">support@govantai.com</a></p>
                                    <p></p>
                                    <p align="right">Govantai</p>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="font-size:14px;padding-bottom:10px;background-color:#f5f5f5;color:#000000;min-height:50px;font-family:'Arial'; line-height: 20px">
                <div>Govantai, 200 Tran Hung Dao, TP. Ho Chi Minh, Viet Nam</div>
                <div><span>Email:<a style="color:#2EA8DF; text-decoration: none" href="mailto:support@govantai.com" > support@govantai.com</a></span> Hotline:<span style="color: #2EA8DF"> 0974151445</span> </div>
            </div>
        </div>
    </div>
    </body>
    </html>

{% endblock %}
